# Backend
DATABASE_URL=postgresql+psycopg://postgres:postgres@hotel-db:5432/hoteldb
ADMIN_API_KEY=change-me
ENV=development
DEFAULT_RATE_SOURCE_MODE=hybrid

# CORS origins
USER_WEB_ORIGIN=http://localhost:5174
ADMIN_WEB_ORIGIN=http://localhost:5173

# Frontend build argument
VITE_API_URL=http://localhost:8000

# Production example
# DATABASE_URL=postgresql+psycopg://hotel_user:strong-password@hotel-db:5432/hoteldb
# ADMIN_API_KEY=Farouk16474!
# ENV=production
# USER_WEB_ORIGIN=https://rm.e-hotelmanager.com/
# ADMIN_WEB_ORIGIN=https://admin-rm.e-hotelmanager.com%20/
# VITE_API_URL=https://api-rm.e-hotelmanager.com/
